.modal-bs {
  color: rgb(61, 61, 61);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 49, 60, 0.6);
  backdrop-filter: blur(8px);
  animation: fadein 2s;

  @keyframes fadein {
    from {
      opacity: -1;
    }
    to {
      opacity: 2;
    }
  }
}
