/* CSS */
.button-grid {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.CreateTodoButton {
  display: inline-flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  background-color: #623bff;
  color: rgba(255, 255, 255, 0.88);
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 400;
  border-radius: 50px;
  padding: 25px 30px;
  font-size: 50px;
}

.CreateTodoButton:hover,
.CreateTodoButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(255, 255, 255, 0.866);
  background-color: #704dff;
}

.CreateTodoButton:hover {
  transform: translateY(-1px);
}

.CreateTodoButton:active {
  background-color: #7b5affa6;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(255, 255, 255, 0.525);
  transform: translateY(0);
}

.Todo-button:hover,
.Todo-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(255, 255, 255, 0.866);
}

.Todo-button:hover {
  transform: translateY(-1px);
}

.Todo-button:active {
  background-color: #7b5affa6;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(255, 255, 255, 0.525);
  transform: translateY(0);
}

.Todo-button--completed {
  border: 0.5px solid whitesmoke;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #6a07ff9a;
  cursor: pointer;
}

.strike-through {
  text-decoration: line-through;
}
